<nav class="navbar sticky-top bg-light">
    <div class="container-fluid">
      <a href="http://www.f2informatica.it"><img src="assets/image/logoF2.png" alt="image not foun"></a>
      <a routerLink="/home" class="navbar nav-text" style="cursor: pointer; ">Livello Semplice</a>
      <a routerLink="/medium" class="navbar nav-text" style="cursor: pointer;">Livello Medio</a>
      <a routerLink="/hard" class="navbar nav-text" style="cursor: pointer;">Livello Avanzato</a>
      <a href="#" class="navbar-brand">     </a>
    </div>
</nav>