

  
    <form name="questionario" id="questionario">
        
        <app-header></app-header>
  
          <div id="sali" #sali>
              <div class="container mt-50">
                  <div class="row">
                      <div class="col-12 text-center">
                         
                          <h2 class="display-4"> <strong>QUESTIONARIO</strong></h2>
                          <h3 style="color: #f09824; font-style: oblique;" class="display-4" id="easy"><strong>EASY</strong></h3>
                      </div>
                  </div>
              </div>
              <table  id="mostra" class="content-table" >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>N. Risposte Corrette</th>
                      <th>N. Risposte Totali</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="active-row">
                      <td>Risultati</td>
                      <td id="result"  *ngIf="stampaResult == true ">{{c}}</td>
                      <td id="nDom"   *ngIf="stampaResult == true " >{{nDom}}</td>
                      
                    </tr>
                   
                  </tbody>
                </table>
              <!-- <p id="result" style="text-align: center;"></p> -->
              <!-- <h1 class="ttl " id="tll" >Questionario Pier</h1> -->
          </div>
     
          <div class="wrapper" id="dm1">
              <h3>Domanda 1</h3>
              <hr>
              <p>1. Qual &egrave; il giusto comando per interpretare un file Java compilato di nome prova.class da linea di comando?</p>
              <p><input type="radio" name="domanda1"id="domanda" value=1  (change)="radioChangedHandler($event)">A. Interpeter java prova.class</p>	
              <p><input type="radio" name="domanda1"id="domanda" value=2 (change)="radioChangedHandler($event)">B. Java prova</p>
              <p><input type="radio" name="domanda1" id="domanda"value=3 (change)="radioChangedHandler($event)">C. Java prova.class</p>
            
              <p id="right1"   [ngClass]="{'wrapperErr' : Selector[0]}" *ngIf="Selector[0] == true  " >{{Corretta[0]}}</p>
          </div>
          <div class="wrapper2" id="dm2">
              
              <h3>Domanda 2</h3>
              <hr>
              <p>2. Quale tra le affermazioni riportate in seguito  &egrave; corretta in merito al metodo Java seguente?</p>
              <h3>System.out.print("text")</h3>
              <p><input type="radio" name="domanda2" id="domanda"value=1  (change)="radioChangedHandler2($event)">A. Stampa a video l'argomento su una riga senza poi andare a capo  </p>	
              <p><input type="radio" name="domanda2"id="domanda" value=2  (change)="radioChangedHandler2($event)">B. Stampa a video l'argomento su una riga e poi va a capo </p>
              <p><input type="radio" name="domanda2" id="domanda"value=3  (change)="radioChangedHandler2($event)">C. Attiva l'anteprima di stampa per scrivere l'argomento</p>
              
              <p id="right2" [ngClass]="{'wrapperErr' : Selector[1]}" *ngIf="Selector[1] == true  " >{{Corretta[1]}} ></p>
              
          </div>
          <div class="wrapper" id="dm3">
              <h3>Domanda 3</h3>
              <hr>
              <p>3.  La parola chiave Java "extends":</p>
              <p><input type="radio" name="domanda3" value=1 (change)="radioChangedHandler3($event)">A. Non &egrave; una parola chiave di Java</p>	
              <p><input type="radio" name="domanda3" value=2 (change)="radioChangedHandler3($event)">B. Permette di definire una classe derivata</p>
              <p><input type="radio" name="domanda3" value=3 (change)="radioChangedHandler3($event)">C. &Egrave; seguita dal nome del foglio di stile che si sta definendo</p>
              <p id="right3" [ngClass]="{'wrapperErr' : Selector[2]}" class="deletedClass" *ngIf="Selector[2] == true " >{{Corretta[2]}}</p>
              
          </div>
          <div class="wrapper2" id="dm4">
              <h3>Domanda 4</h3>
              <hr>
              <p>4. "java.lang" &egrave; un  package?</p>
              <p><input type="radio" name="domanda4" value=1 (change)="radioChangedHandler4($event)">A. No</p>	
              <p><input type="radio" name="domanda4" value=2 (change)="radioChangedHandler4($event)">B. S&igrave;, il predefinito</p>
              <p><input type="radio" name="domanda4" value=3 (change)="radioChangedHandler4($event)">C. S&igrave;, ma non &egrave; il predefinito</p>
              <p id="right4" [ngClass]="{'wrapperErr' : Selector[3]}" *ngIf="Selector[3] == true " >{{Corretta[3]}}</p>
              
          </div >
          <div class="wrapper" id="dm5">
              <h3>Domanda 5</h3>
              <hr>
              <p>5. Nel linguaggio Java, per recuperare un elemento da un oggetto della classe "ArrayList" ed assegnargli un tipo desiderato:</p>
              <p><input type="radio" name="domanda5" value=1 (change)="radioChangedHandler5($event)">A. Non si pu&ograve; fare nulla</p>	
              <p><input type="radio" name="domanda5" value=2 (change)="radioChangedHandler5($event)">B. Basta usare il metodo get() di ArrayList</p>
              <p><input type="radio" name="domanda5" value=3 (change)="radioChangedHandler5($event)">C. Uso un cast di dati abbinato al metodo get() di ArrayList</p>
              <p id="right5"  [ngClass]="{'wrapperErr' : Selector[4]}" *ngIf="Selector[4] == true ">{{Corretta[4]}}</p>
              
          </div >
          <div class="wrapper2" id="dm6">
              <h3>Domanda 6</h3>
              <hr>
              <p>6. L' operazione di garbage collection in Java &egrave;:</p>
              <p><input type="radio" name="domanda6" value=1 (change)="radioChangedHandler6($event)">A. Non esiste ripulitura di spazio in Java</p>	
              <p><input type="radio" name="domanda6" value=2 (change)="radioChangedHandler6($event)">B. Manuale</p>
              <p><input type="radio" name="domanda6" value=3 (change)="radioChangedHandler6($event)">C. Automatica</p>
              <p id="right6" [ngClass]="{'wrapperErr' : Selector[6]}" *ngIf="Selector[5] == true ">{{Corretta[5]}}</p>
              
          </div >
          <div class="wrapper" id="dm7">
              <h3>Domanda 7</h3>
              <hr>
              <p>7. Nel linguaggio Java, la classe "Object" &egrave;:</p>
              <p><input type="radio" name="domanda7" value=1 (change)="radioChangedHandler7($event)"> A. La classe base di Java</p>	
              <p><input type="radio" name="domanda7" value=2 (change)="radioChangedHandler7($event)">B. Una classe inesistente in Java</p>
              <p><input type="radio" name="domanda7" value=3 (change)="radioChangedHandler7($event)">C. Una classe derivata</p>
              <p id="right7"  [ngClass]="{'wrapperErr' : Selector[6]}" *ngIf="Selector[6] == true ">{{Corretta[6]}}</p>
              
          </div>
          <div class="wrapper2" id="dm8">
              <h3>Domanda 8</h3>
              <hr>
              <p>8. Nel linguaggio Java, affinch&eacute; un metodo non restituisca alcun valore:</p>
              <p><input type="radio" name="domanda8" value=1 (change)="radioChangedHandler8($event)">A. Si usa la parola chiave void</p>	
              <p><input type="radio" name="domanda8" value=2 (change)="radioChangedHandler8($event)">B. Si usa il limitatore di accesso private</p>
              <p><input type="radio" name="domanda8" value=3 (change)="radioChangedHandler8($event)">C. Non &egrave; necessario alcun sistema, poich&eacute; i metodi per loro natura non restituiscono mai un valore</p>
              <p id="right8" [ngClass]="{'wrapperErr' : Selector[7]}" *ngIf="Selector[7] == true ">{{Corretta[7]}}</p>
              
          </div>
          <div class="wrapper" id="dm9">
              <h3>Domanda 9</h3>
              <hr>
              <p>9. L'interprete Java comincia l'esecuzione di un programma compilato:</p>
              <p><input type="radio" name="domanda9" value=1 (change)="radioChangedHandler9($event)">A. Dal metodo main della classe indicata nel nome del file .class</p>	
              <p><input type="radio" name="domanda9" value=2 (change)="radioChangedHandler9($event)">B. Dalla prima riga di codice scritta</p>
              <p><input type="radio" name="domanda9" value=3 (change)="radioChangedHandler9($event)">C. Dalla prima riga di codice presente nella classe il cui nome coincide con quello del file .class</p>
              <p id="right9" [ngClass]="{'wrapperErr' : Selector[8]}" *ngIf="Selector[8] == true ">{{Corretta[8]}}</p>
         </div>     
         <div class="wrapper2" id="dm10">
          <h3>Domanda 10</h3>
          <hr>
          <p>10. Quale delle seguenti definizioni Java &egrave; corretta?</p>
          <p><input type="radio" name="domanda10" value=1 (change)="radioChangedHandler10($event)">A. Class Employee absorbs Person implements Comparable</p>	
          <p><input type="radio" name="domanda10" value=2 (change)="radioChangedHandler10($event)">B. Class Employee implements Person extends Comparable</p>
          <p><input type="radio" name="domanda10" value=3 (change)="radioChangedHandler10($event)">C. Class Employee extends Person implements Comparable</p>
          <p id="right10" [ngClass]="{'wrapperErr' : Selector[9]}" *ngIf="Selector[9] == true ">{{Corretta[9]}}</p>
          
      </div>
          <div class="wrapperBtn">
          
   <input [disabled]="isDisabled" class="btn-sub"  type="button" name="" value="Invia" id="button" (click)="controll(sali)">
          </div>
         
      </form>
  
   
      <div class=
      "footer-basic">
          <footer>
              <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
              <ul class="list-inline">
                  <li class="list-inline-item"><a href="http://www.f2informatica.it">Home</a></li>
                  <li class="list-inline-item"><a href="http://www.f2informatica.it/#services">Services</a></li>
                  <li class="list-inline-item"><a href="http://www.f2informatica.it/prodotti.html">Products</a></li>
                  
                  <li class="list-inline-item"><a href="http://www.f2informatica.it/includes/privacy.pdf">Privacy Policy</a></li>
              </ul>
              <p class="copyright">&copy; Copyright 2022 f2informatica</p>
          </footer>
      </div>
    
      
  
  
  
  